*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  background: rgb(219, 212, 212);
} */
#navBarSearchForm input[type=search]{


  width: 500px !important;
  
}
#navBarSearchForm{
    margin-right: 50px;
}
.navbar a{
  margin-left: 100px !important;
  
}

#cartBtn{
  margin-right: 60px;
}
#btnLogin{
  margin-left: 50px;
}
.listProducts{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  max-width: 100%;
  background: #202033;
}
.listProducts ul{
  list-style: none;
  display: flex;
}
.listProducts ul li{
  /* border: 1px solid black; */
  padding: 10px 50px 10px 20px;
  margin-bottom: 0px;
  font-weight: bolder;
  
}
.listProducts ul li a{
  color: white;
  text-decoration: none;
}
.listProducts ul li:hover{
  border: 1px solid white;
  cursor: pointer;
  transition: 0.8s;

}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden; }
.card-product .price-new, .card-product .price {
  margin-right: 5px; }
.card-product .price-old {
  color: #999; }
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 400px;
  
  text-align: center; }
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; }
    
    .card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px; }
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .title {
  margin-top: 0; }

.card-product a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}
.action-wrap a{
  font-size: 15px;
  font-weight: bold;
  color: rgb(26, 193, 248);
  opacity: 0.5;
}
.action-wrap a:hover{
  opacity: 1;
  transition: 0.5s ease-in-out;
}







@media only screen and (max-width: 450px){






nav{
  width: fit-content;
  background:#16161d !important;
}
  #navBarSearchForm input[type=search]{
    width: 200px !important;
    
  }
    .navbar-toggler{
    margin-left: 270px; 
}
#cartBtn{
  margin-left: 280px !important;
 margin-top: 10px;
}
#btnLogin{
  margin-left: 270px !important;
  position: absolute;
  bottom: 85px;
}
.listProducts{
  position: absolute;
  right: 0px;
  
  display: flex;
  max-width: 110%;
  background: #202033;
  
 
}
.listProducts ul li{
  
  
  
  padding: 0px 10px 0px 10px;
  font-size: 8px;
  font-weight: bolder;
  background: #202033;
  
  
  
}
.listProducts ul li a{
  color: white;
}
.carousel{
  margin-top: 30px;
}


}
